/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
   --cor-de-fondo: #FBFCFC;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fondo) ;
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    line-height: 1;
}


ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
/*Sección Hard Skills*/
section.hard__skills{
    background: #dab997;
}

.hard__skills__title {
    text-align: center;
    font-size: 1.5rem;
}

.hard__skills__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.hard__skills__box{
    margin: 2rem;
}

.hard__skills__img {
    height: 3rem;
    align-items: center;
}

.hard__skills__name {
    font-size: 1.1rem;
    text-align: center;
}

/*Sección Soft Skills*/
section.soft__skills{
    background: #dab997;
}

.soft__skills__title {
    text-align: center;
    font-size: 1.5rem;
}

.soft__skills__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.soft__skills__box{
    margin: 2rem;
}

.soft__skills__img {
    height: 3rem;
    
}

.soft__skills__name {
    font-size: 1.1rem;
    
}

/*Sección Hobbies*/

section.hobbies{
    background: #dab997;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}


/* Experiencia Académica*/

section.academic{
    text-align: center;
}

/* experiencia*/

section.experience{
    text-align: center;
}

/*Contacto*/

section.formcontato{
    text-align: center;

}

/*footeer*/

section.footer{
    text-align: center;

}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}