.formcontato {
    padding: 3rem;
    margin: 1rem;
    line-height: 1;
    background-color: #EAECEE;
}

@media (max-width: 1024px) {
    .formcontato {
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 600px) {
    .formcontato {
       padding: 0;
       margin: 0;
    }
}