.formcontato__input {
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    font-family: 'Quicksand';
    font-size: 1rem;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .formcontato {
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 600px) {
    .formcontato {
       padding: 0;
       margin: 0;
    }
}