.formcontato__input {
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    font-family: 'Quicksand';
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
}


@media (max-width: 1024px) {
    .formcontato {
        justify-content: center;
    }
}


@media (max-width: 600px) {
    .formcontato {
       justify-content: center;
    }
}