.formcontato__subtext{
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    .formcontato__subtext {
        font-size: 1rem;
    }
}


@media (max-width: 600px) {
    .formcontato__subtext {
       font-size: 1rem;
       line-height: 1;
    }
}