.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media (max-width: 1024px) {
    .formcontato__form {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 600px) {
    .formcontato__form {
       width: 100%;
    }
}