.skills__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .skills__line {
        flex-wrap: wrap;  
    }
}

@media (max-width: 600px) {
    .skills__line {
        flex-direction: column;
    }
}