.academic__courses__item__title {
    font-size: 1.2rem;
    text-align: justify;
    color: #313131;
}

@media (max-width: 600px) {
    .academic__courses__item__title {
        line-height: 1;
        text-align: center;
    }
}