.academic__courses__item__img {
    margin-left: 2px;
    padding-left: 2px;
}

@media (max-width: 1024px) {
    .academic__courses__item__img {
        align-items: center;
    }
}


@media (max-width: 600px) {
    .academic__courses__item__img {
        margin: auto;
        padding: auto;
    }
}