.menu__list__item {
    margin-left: 1rem;
}

.menu__list__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu__list__item-resaltado {
    color: #313131;
    font-weight: bold;
}

@media (max-width: 1024px) {
    nav {
       margin: 0rem;
    }
} 

@media (max-width: 600px) {
    nav {
        margin: 0rem;
}
}

  