.menu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 1024px) {
    .menu__header {
        align-items: baseline;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .menu__header {
        flex-direction: column;
    }
    .menu__img {
        display: none;
    }
}




  
  
  
  
  