.menu__title {
    margin-right: 20rem;
    font-size: 1.25rem;
    padding-left: 0.5rem;
    color: #313131;
 }
 @media (max-width: 1024px) {
    .menu__title {
        line-height: 1;
    }
}

@media (max-width: 600px) {
    .menu__title {
        line-height: 1;
        margin-right: 1rem;
    }
} 



