section.menu{
    background-color: #dab997;
    padding: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
}

@media (max-width: 1024px) {
    section.menu {
        display: block;
    }
} 

@media (max-width: 600px) {
    section.menu {
        display: block;
    }
}