.menu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (max-width: 1024px) {
    .menu__header {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (max-width: 600px) {
    .menu__header {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


  
  
  
  
  