.menu__list__item {
    margin-left: 1rem;
}

.menu__list__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu__list__item-resaltado {
    color: #313131;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .menu__list__item {
        margin-left: 0.5rem;
    }
} 

@media screen and (max-width: 600px) {
    .menu__list__item {
        margin-right: 10rem;
    }
}

  