.experience__img {
    margin-right: 3.8rem;
    padding: 1rem;
}

@media (max-width: 1024px) {
    .experience__img {
        margin-left: 3.8rem;
        width: 53%;
    }
}


@media (max-width: 600px) {
    .experience__img {
        margin: 20px;
        width: 130%;
    }
}