.experience__botao--demo{
    width: 170px;
    height: 50px;
    border: 2px solid #dab99798;
    border-radius: 24px;
    transition: 1s all;
    cursor: pointer;
    background-color: #dab997;
    color: white;
    font-family: "Quicksand";
    font-size: 1rem;
}

.experience__botao--demo:hover{
    transform: scale(1.2);
    background: #dab997d1;
}

@media (max-width: 1024px) {
    .experience__botao--demo {
        width: 160px;
        height: 50px;
    }
}


@media (max-width: 600px) {
    .experience__botao--demo {
        width: 140px;
        height: 50px;
    }
}

