.experience__section__title {
    text-align: center;
    font-size: 1.5rem;
    color: #313131;
    padding: 1rem;
}

@media (max-width: 1024px) {
    .experience__section__title {
        line-height: 1;
    }
}


@media (max-width: 600px) {
    .experience__section__title {
        line-height: 1;
    }
}