.title__profile {
    height: 22rem;
    margin-right: 5%;
    padding: 1rem;
}

@media (max-width: 1024px) {
    .title__profile {
        height: 15rem;
        margin-right: 8%;
        position: relative;
        padding: 0.5rem;
        
    }
}

@media (max-width: 600px) {
    .title__profile {
        height: 10rem;
        margin-right: 10%;
        position: relative;
        padding: 0;
    }
}