.title__network__item {
    color: #313131;
    font-size: 1.1rem;
    padding-right: 1.5rem;
}    
    
.title__network__item:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .title__network__item {
        font-size: 1rem;
        padding-right: 1rem;
    }
}


@media (max-width: 600) {
    .title__network__item {
        font-size: 0.9rem;
        padding-right: 1rem;
    }
}