.title__subsection {
    margin-left: 2.3rem;
    color: #313131;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1;
}

@media (max-width: 1024px) {
    .title__subsection {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        float: left;
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .title__subsection {
        margin-left: 1.7rem;
        margin-right: 1.7rem;
        float: left;
        font-size: 1rem;
    }
}