
.title__container {
    background-color: #EAECEE;
}

@media (max-width: 1024px) {
    .title__container {
        text-align: left;
    }
}

@media (max-width: 600px) {
    .title__container {
        text-align: left;
    }
}