.about__container {
    margin-left: 17px;
    margin-right: 17px;
}

@media (max-width: 1024px) {
    .about__container {
       margin-left: 8px;
       margin-right: 8px;
    }
}

@media (max-width: 600px) {
    .about__container {
        margin-left: 4px;
        margin-right: 4px;
    }
}
  