.about__paragraph{
    text-align: justify;
    font-size: 1.1rem;
    color: #313131;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .about__paragraph {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .about__paragraph {
        font-size: 1rem;
    }
}