.hobbies__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .hobbies__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .hobbies__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}